@using FreeGamesLibrary.Data.Models
@inject NavigationManager NavigationManager;

<MudItem xs="12" md="6" lg="3" xl="2">
    <MudPaper Elevation="5" @onclick="() => NavigateToGameDetailed(game.Id)" Class="pa-4 d-flex flex-column justify-space-between" style="height:100%; background-color: var(--mud-palette-tertiary); cursor:pointer;">
        <div>
            <MudImage class="w-100" Style="" Src="@game.Thumbnail"></MudImage>
            <MudText Typo="Typo.h6" Color="Color.Secondary" Class="mb-2">@game.Title</MudText>

            <MudText Typo="Typo.body2" Color="Color.Secondary">@game.Short_Description</MudText>

        </div>

        <div class="mt-2 d-flex justify-space-between">
            <MudChip Style="font-size:12px;" T="string" Color="Color.Secondary">@game.Genre</MudChip>
            <div style="display:flex; align-items:center; margin:0;">
                @foreach (var platform in game.Platform)
                {
                    <MudIcon Color="Color.Primary" Class="ml-2" Icon="@(platform == "PC (Windows)" ? Icons.Custom.Brands.MicrosoftWindows : @Icons.Custom.Brands.Chrome)"></MudIcon>
                }
            </div>
        </div>
    </MudPaper>
</MudItem>

@code {

    [Parameter]
    public GameSimpleDisplayModel game { get; set; } = new();

    private void NavigateToGameDetailed(int id)
    {
        NavigationManager.NavigateTo($"/game-details/{id}");
    }
}
